<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block title %}
    <title>Portfolio Site</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        {% comment %} TODO scroll animations?? {% endcomment %}
        <a class="navbar-brand" href="{% url 'basesite:homepage' %}">i54m.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link hover" href="{% url 'basesite:homepage' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover" href="{% url 'portfolio:projects' %}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover" href="https://github.com/I54m">Github</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link hover" href="{% url 'basesite:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover" href="{% url 'basesite:contact' %}">Contact</a>
            </li> {% endcomment %}
          </ul>
        </div>
      </div>
    </nav>
      {% block content %}
      {% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
  <footer>
    
      <div class="container">
        {% block footer %}
        {% endblock %}
        <hr class="mt-5">
        <p class="float-end hover"><a class="hover" href="#">Back to top</a></p>
        <p>Site Created in early 2024 by i54m &#40;Sam&#41;  </p>
      </div>
    
  </footer>
</html>
